<!DOCTYPE html>
<html>
<head>
    <title>Browse Recipes</title>
</head>

<body>

<h1>Browse Recipes</h1>

<!-- Search -->
<form method="POST" action="/recipes">
    <input type="text" name="titlesearch" placeholder="Search recipes">
    <button type="submit">Search</button>
</form>

<hr>

<h2>Recipes</h2>

<% if (recipes.length === 0) { %>
<p>No recipes found.</p>
<% } %>

<% recipes.forEach(recipe => { %>

<div>
    
    <!-- Recipe Title -->
    <h3><%= recipe.title %></h3>

    <!-- Username of Creator -->
    <h4><%= recipe.username%></h4>

    <!-- Recipe Image -->
    <img src="<%= recipe.image %>" width="200">

    <!-- Short Description -->
    <p>Description: <%= recipe.description %></p>

    <!-- Optional Details  for each-->
    <p>
        <strong>Ingredients:</strong>
        <%= recipe.ingredients %>
    </p>
    <p>
        <strong>Steps:</strong>
        <br>
        <% recipe.steps.forEach((element,index) => { %> 
            Step <%=index+1%>:<%=element%>
            <br>
        <%})%>
    </p>


    <!-- View Button -->
    <form method="GET" action="/recipe/<%= recipe.id %>">
        <button type="submit">View Recipe</button>
    </form>

</div>

<hr>

<% }) %>

</body>
</html>