<!DOCTYPE html>
<html>
<head>
    <title>Browse Recipes</title>
</head>

<body>

<h1>Browse Recipes</h1>


<form method="POST" action="/recipes">
    <input type="text" name="titlesearch" value="<%= titlesearch ? titlesearch : '' %>" placeholder="Search recipes">
    <button type="submit">Search</button>

     <input type="hidden" name="sort" value="<%= sort ? sort : '' %>">

    <button type="button" onclick="window.location='/recipes'">Reset</button>
</form>

<hr>

<div>
    <form method="GET" action="/recipes">
        Sort by:
        <select name="sort">
            <option value="asc"<%= sort === 'asc' ? 'selected' : '' %>>Author (A-Z)</option>
            <option value="desc"<%= sort === 'desc' ? 'selected' : '' %>>Author (Z-A)</option>
            <option value="diff"<%= sort === 'diff' ? 'selected' : '' %>>Difficulty</option>
        </select>

        <button type="submit">Apply</button>
    </form>
</div>

<hr>
<% if (isSearch && titlesearch) { %>
    <h1>Showing recipes for "<%= titlesearch %>"</h1>
    <hr>
<% } %>
<h2>Recipes</h2>
<% if (recipes.length === 0) { %>
<p>No recipes found for "<%= titlesearch %>"</p>
<% } %>

<div id="recipes-container">

<% recipes.forEach(recipe => { %>

<div class="recipe">
    
    <h3>Title: <%= recipe.title %></h3>
    <h4>Author: <%= recipe.username %></h4>

    <h4>
    Difficulty: 
    <% 
        let stars = "";
        for (let i = 0; i < recipe.difficulty; i++) {
            stars += "⭐";
        }
    %>
    <%= stars %>
    </h4>

    <img src="<%= recipe.image %>" width="200">

    <p>Description: <%= recipe.description %></p>

    <p>
        <strong>Ingredients:</strong>
        <%= recipe.ingredients %>
    </p>

    <p>
        <strong>Steps:</strong><br>
        <% recipe.steps.forEach((element,index) => { %> 
            Step <%=index+1%>: <%=element %><br>
        <% }) %>
    </p>

    <form method="GET" action="/recipe/<%= recipe.id %>">
        <button type="submit">View Recipe</button>
    </form>

    <hr> 

</div>

<% }) %>

</div>

</body>
</html>